.features {
  padding-top: 30px;
  padding-bottom: 100px; }

.features_item {
  padding: 30px;
  background: #ffffff;
  border: 1px #fafafa solid; }

.features_bg {
  background: #fafafa; }

.features_title {
  padding-top: 70px;
  padding-left: 30px; }
